$dm-link-base-color: #FFC300 ;
$lm-link-base-color: #79b8ff;
$dm-link-visited-color: darken($dm-link-base-color, 15%);
$lm-link-visited-color: darken($lm-link-base-color, 15%);

@media (prefers-color-scheme: dark) {
    :root {
        --minima-link-base-color: #{$dm-link-base-color};
        --minima-link-visited-color: #{$dm-link-visited-color};
        --minima-link-hover-color: #{$dm-link-base-color};
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --minima-link-base-color: #{$lm-link-base-color};
        --minima-link-visited-color: #{$lm-link-visited-color};
        --minima-link-hover-color: #{$lm-link-base-color};
    }
}